.MainWindow {
  width: 805px;
  height: 800px;
  display: flex;
  margin: auto;
  margin-top: 50px;

  & * {
    box-sizing: border-box;
  }

  .LeftPanel {
    width: 155px;

    .OperationsPanel {
      height: 200px;
      font-size: 150%;
      letter-spacing: 2px;

      > div {
        display: flex;
        margin-bottom: 10px;
      }

      .money-display {
        color: #abecab;
      }

      .info {
        font-size: 0.75em;
        line-height: 0.75em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: lightslategray;

        div:first-child {
          margin-bottom: 5px;
        }

        div:not(:first-child) {
          font-size: 80%;
        }
      }

      .button {
        font-size: 80%;
        color: lightslategray;

        &:hover {
          opacity: 0.9;
        }

        > * {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .button-icon {
          width: 1.5em;
          height: 1.5em;
        }

        .button-label {
          font-size: 0.75em;
          line-height: 0.75em;
        }
      }

      .icon {
        width: 1.5em;
        height: 1.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #7c7b7b;

        svg {
          border-radius: 50%;
        }

        &.working.manual-wenting svg {
          -webkit-animation: rotation 1s infinite linear;
          @keyframes rotation {
            from {
              -webkit-transform: rotate(0deg);
            }
            to {
              -webkit-transform: rotate(359deg);
            }
          }
        }

        &.working.power-generation svg {
          color: #00ecff;
          animation: shadow-pulse 1s infinite;

          @keyframes shadow-pulse {
            0% {
              box-shadow: 0 0 0px #00d9ff56;
            }
            100% {
              box-shadow: 0 0 25px 3px #00eeff00;
            }
          }
        }

        &.idle {
          color: #7c7b7b;
        }
      }
    }

    .PartsPanel {
      height: 600px;
      .parts-row {
        display: flex;
      }
    }
  }

  .Part,
  .ReactorCell {
    width: 35px;
    height: 35px;
    color: #64867a;
    display: flex;
    align-items: center;
    justify-content: center;

    &.selected {
      background-color: #3a3f48;
    }

    &:hover {
      opacity: 0.9;
    }

    .uranium-cells {
      color: #04f305;
    }

    .fuel-cells-2 {
      .fuel-cell-0 {
        margin-right: -4px;
      }
      .fuel-cell-1 {
        margin-left: -4px;
      }
    }

    .fuel-cells-4 {
      font-size: 80%;
      .fuel-cell-0 {
        margin-left: 6px;
        margin-right: -2px;
        margin-bottom: -4px;
      }
      .fuel-cell-1 {
        margin-left: -4px;
        margin-bottom: -4px;
      }
      .fuel-cell-2 {
        margin-left: 6px;
        margin-right: -2px;
        margin-bottom: 3px;
      }
      .fuel-cell-3 {
        margin-left: -4px;
        margin-bottom: 3px;
      }
    }
  }

  .RightPanel {
    width: 650px;
    .TopInfoPanel {
      height: 100px;
    }
    .ReactorPanel {
      min-height: 700px;
      .reactor-row {
        display: flex;
        &:first-child > .ReactorCell {
          border-top: 2px solid darkgray;
        }

        .ReactorCell {
          width: 35px;
          height: 35px;
          border-bottom: 2px solid darkgray;
          border-right: 2px solid darkgray;
          color: #988871;

          &:first-child {
            border-left: 2px solid darkgray;
          }
        }
      }
    }
  }

  .TopInfoPanel {
    .part-title {
      color: #fffbb7;
      font-weight: bold;
      padding-bottom: 5px;
    }

    .part-desc {
      color: #ffffff;
    }
  }
}
